@font-face {
  font-family: "Nimbus Sans";
  src: url("../../vendor/fonts/Nimbus/NimbusSanL-Reg.ttf") format("truetype"),
  url("../../vendor/fonts/Nimbus/NimbusSanL-Reg.woff") format("woff"),
  url("../../vendor/fonts/Nimbus/NimbusSanL-Reg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nimbus Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #FAFAFA;
}



/* ШАПКА */
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  height: 64px;
  width: 94vw;
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo {
  width: 139px;
  height: 41px;
  background-image: url(./images/logo-white.png);
  background-size: cover;
}

.header__logo_black {
  background-image: url(./images/logo-black.png);
}

.header__block-one {
  margin-left: 8.5vw;
}

.header__block-two {
  margin-left: auto;
}

.header__block-three {
  margin-left: auto;
}

.header__button {
  margin-right: 2.5vw;
  font-size: 1.6rem;
  color: #FAFAFA;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  border: none;
}

.header__button_black {
  color: black;
}

.header__button:last-of-type {
  margin-right: 0;
}



/* ОСНОВНОЙ РАЗДЕЛ */
.section {
  background-position: top;
  background-size: cover;
}

.section_1 {
  background-image: url(./images/bg-section-1.jpg);
}

.section_2 {
  background-image: url(./images/bg-section-2.jpg);
}

.section_3 {
  background-image: url(./images/bg-section-3.jpg);
}

.section_4 {
  background-image: url(./images/bg-section-4.jpg);
}

.section__info {
  width: 94vw;
  height: 100%;
  padding-top: 114px;
  padding-bottom: 62px;
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section__info_flex-end {
  justify-content: flex-end;
}

.section__heading-alignment {
  display: flex;
  flex-direction: row;
}

.section__heading {
  margin-bottom: 40px;
  margin-left: -1vw;
  font-size: 26.8rem;
  line-height: 0.8;
  color: #FAFAFA;
}

.section__heading-span {
  margin-left: 26px;
  font-size: 6.4rem;
  line-height: 1.2;
  color: #FAFAFA;
}

.section__text {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #FAFAFA;
}

.section__text_bottom {
  margin-top: auto;
}

.section__text_short {
  width: 90%;
}

@media screen and (max-width: 1919px) {
  .section__heading {
    font-size: 20rem;
  }
}

@media screen and (max-width: 1535px) {
  .section__heading {
    font-size: 16rem;
  }

  .section__heading-span {
    font-size: 4.4rem;
  }
}



/* СЧЁТЧИК СЕКЦИЙ */
.counter {
  position: absolute;
  bottom: 2.7vw;
  right: 4vw;
  z-index: 1;
  font-size: 6.4rem;
  line-height: 1;
  color: #FAFAFA;
}



/* БРЕНДЫ и КАТЕГОРИИ */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: calc(47vh + 64px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #FAFAFA;
}

.menu__grid {
  width: 100vw;
  height: 47vh;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.menu__left-side {
  display: flex;
  flex-direction: row;
}

.menu__list {
  width: 30%;
  margin-top: 48px;
  list-style: none;
}

.menu__list:first-of-type {
  margin-left: 3vw;
}

.menu__list-element {
  margin-bottom: 18px;
}

.menu__list-element:last-of-type {
  margin-bottom: 0;
}

.menu__link {
  font-size: 3.2rem;
  line-height: 1.2;
  color: black;
  text-decoration: none;
}

.menu__right-side {
  background-size: cover;
  background-position: top;
  background-repeat:no-repeat;
}

.menu__right-side_brands {
  background-image: url(./images/brands-bg.jpg);
}

.menu__right-side_categorys {
  background-image: url(./images/categorys-bg.jpg);
}

@media screen and (max-width: 1919px) {
  .menu__list:first-of-type {
    margin-right: 3vw;
  }

  .menu__link {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 1439px) {
  .menu__link {
    font-size: 2.2rem;
  }
}



/* КУКИ */
.cookies {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 47vh;
  display: flex;
  flex-direction: column;
  background-color: #0F0F0F;
}

.cookies__text {
  margin-top: 65px;
  margin-left: 96px;
  margin-right: 120px;
  font-size: 1.6rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #FAFAFA;
}

.cookies__close-button {
  width: 50px;
  height: 50px;
  margin-top: auto;
  margin-bottom: 110px;
  align-self: center;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(./images/cookies-close-button.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-height: 899px) {
  .cookies__close-button {
    margin-bottom: 80px;
  }
}



/* ПОДВАЛ */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 47vh;
  display: flex;
  flex-direction: row;
  background-color: #0F0F0F;
}

.footer__navigation {
  width: 50%;
  margin-top: 64px;
  margin-left: 64px;
  display: flex;
  flex-direction: row;
}

.footer__nav-list {
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}

.footer__nav-list-element {
  margin-bottom: 20px;
}

.footer__nav-list-element:last-of-type {
  margin-bottom: 0;
}

.footer__nav-link {
  font-size: 1.6rem;
  line-height: 1.6;
  color:  #FAFAFA;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__contacts {
  width: 50%;
  margin-top: 64px;
  margin-right: 64px;
  display: flex;
  flex-direction: column;
}

.footer__contact {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.footer__contact:last-of-type {
  margin-bottom: 0;
}

.footer__contact-type {
  font-size: 1.6rem;
  line-height: 1.2;
  text-transform: uppercase;
  color:  #FAFAFA;
}

.footer__contact-data {
  width: min-content;
  font-size: 6.2rem;
  line-height: 1.2;
  color:  #FAFAFA;
  text-decoration: none;
}

@media screen and (max-width: 1919px) {
  .footer__contact-data {
    font-size: 5.2rem;
  }
}

@media screen and (max-width: 1535px) {
  .footer__nav-link {
    font-size: 1.3rem;
  }

  .footer__contact-type {
    font-size: 1.3rem;
  }

  .footer__contact-data {
    font-size: 4rem;
  }
}

@media screen and (max-height: 1079px) {
  .footer__navigation {
    margin-top: 38px;
  }

  .footer__contacts {
    margin-top: 38px;
  }
}