@font-face {
  font-family: "Nimbus Sans";
  src: url("../../vendor/fonts/Nimbus/NimbusSanL-Reg.ttf") format("truetype"),
  url("../../vendor/fonts/Nimbus/NimbusSanL-Reg.woff") format("woff"),
  url("../../vendor/fonts/Nimbus/NimbusSanL-Reg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nimbus Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, 
p, span, li, a, input {
  color: #0F0F0F;
}

body {
  position: relative;
  background-color: #FAFAFA;
}



/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  height: 64px;
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
}

.header__fraction {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header__fraction:last-child {
  justify-content: flex-end;
}

.header__logo {
  width: 139px;
  height: 41px;
  background-image: url(../../images/logo-black.png);
  background-size: cover;
}

.header__logo_white {
  background-image: url(../../images/logo-white.png);
}

.header__button {
  margin-right: 2.5vw;
  font-size: 16px;
  text-decoration: none;
  color: #0F0F0F;
  background-color: transparent;
  outline: none;
  border: none;
}

.header__button:last-child {
  margin-right: 0;
}

.header__button:hover {
  cursor: pointer;
}

.header__button_white {
  color: #FAFAFA;
}



/* FILTERS */
.filters {
  width: 100%;
  height: 44px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: auto;
  list-style: none;
}

.filters_padding-top {
  padding-top: 72px;
}

.filters__filter {
  margin-right: 6.5%;
}

.filters__filter:first-child {
  margin-left: 3%;
}

.filters__filter:last-child {
  margin-right: 0;
}

.filters__label {
  position: relative;
}

.filters__true-radio {
  position: absolute; 
  top: 0;
  left: 0;
  opacity: 0;
}

.filters__fake-radio {
  width: auto;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
}

.filters__fake-radio:hover {
  cursor: pointer;
}

.filters__fake-radio::before {
  position: absolute;
  top: -10px;
  left: -12px;
  height: 40px;
  display: flex;
  content: "";
  opacity: 0;
  border: 1px solid black;
  border-radius: 50%;
  box-sizing: border-box;
}

.filters__fake-radio_all::before {
  width: 57px;
}

.filters__fake-radio_my::before {
  width: 62px;
}

.filters__fake-radio_rings::before {
  width: 90px;
}

.filters__fake-radio_bracelets::before {
  width: 111px;
  border-radius: 50%;
}

.filters__fake-radio_pendals::before {
  width: 113px;
}

.filters__fake-radio_earrings::before {
  width: 88px;
}

.filters__fake-radio_hairpins::before {
  width: 100px;
}

.filters__true-radio:checked + 
.filters__fake-radio::before {
  opacity: 1;
}



/* CARDS */
.cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: dense;
}

.card {
  position: relative;
  height: 0;
}

.card_square {
  width: 100%;
  padding-bottom: 100%;
  grid-column: span 1;
  grid-row: span 1;
}

.card_vertical {
  width: 100%;
  padding-bottom: 200%;
  grid-column: span 1;
  grid-row: span 2;
}

.card_horizontal {
  width: 100%;
  padding-bottom: 50%;
  grid-column: span 2;
  grid-row: span 1;
}

.card__picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__bottom {
  position: absolute;
  bottom: 2.3vw;
  left: 2.5vw;
  right: 2.5vw;
  z-index: 2;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__info {
  width: calc(100% - 50px);
  display: flex;
  flex-direction: column;
}

.card__name-and-material {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.card__name {
  max-width: 70%;
  font-size: 36px;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0f0f0f;
}

.card__material {
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0f0f0f;
}

.card__price {
  width: 100%;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0f0f0f;
}

.card__like-button {
  width: 38px;
  height: 32px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(../../images/card-like-button.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1900px) {
  .card__name {
    font-size: 30px;
  }
  
  .card__like-button {
    width: 34px;
    height: 30px;
  }
}

@media screen and (max-width: 1580px) {
  .card__name {
    font-size: 26px;
  }
  
  .card__material {
    font-size: 14px;
  }
  
  .card__price {
    font-size: 14px;
  }
  
  .card__like-button {
    width: 28px;
    height: 26px;
  }
}

@media screen and (max-width: 1420px) {
  .card__name {
    font-size: 24px;
  }
  
  .card__material {
    font-size: 12px;
  }
  
  .card__price {
    font-size: 12px;
  }
}



/* MENUS: BRANDS, CATEGORIES */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 508px;
  padding-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #FAFAFA;
}

.menu__left-half {
  padding-top: 48px;
  padding-left: 3vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu__list {
  list-style: none;
}

.menu__list-element {
  margin-bottom: 18px;
}

.menu__list-element:last-child {
  margin-bottom: 0;
}

.menu__link {
  font-size: 32px;
  line-height: 1.2;
  color: #0F0F0F;
  text-decoration: none;
}

.menu__right-half {
  background-size: cover;
  background-position: top;
  background-repeat:no-repeat;
}

.menu__right-half_brands {
  background-image: url(../../images/brands-bg.jpg);
}

.menu__right-half_categories {
  background-image: url(../../images/categories-bg.jpg);
}

@media screen and (max-width: 1900px) {
  .menu {
    height: 380px;
  }
  
  .menu__link {
    font-size: 24px;
  }
}

@media screen and (max-width: 1346px) {
  .menu__link {
    font-size: 22px;
  }
}

@media screen and (max-height: 880px) {
  .menu__left-half {
    padding-top: 36px;
  }
}



/* FORMS: LOG IN, SIGN IN, PASSWORD RECOVERY, SUBSCRIBE */
.form {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 508px;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
}

.form__heading {
  margin-top: 50px;
  margin-bottom: 58px;
  margin-left: 3vw;
  margin-right: auto;
  font-size: 64px;
  line-height: 1;
  text-transform: uppercase;
  color: #0F0F0F;
}

.form__grid {
  width: 94%;
  margin-right: 3%;
  margin-left: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form__left-half {
  width: 580px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.form__right-half {
  width: 580px;
  display: flex;
  flex-direction: column;
}

.form__input-name {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #0F0F0F;
}

.form__input {
  font-size: 36px;
  line-height: 1.2;
  color: #0F0F0F;
  border: none;
  outline: none;
  background-color: transparent;
}

.form__input::placeholder {
  color: #bdbdbd;
}

.form__error {
  position: absolute;
  margin-top: 80px;
  font-size: 14px;
  line-height: 1.2;
  color: #EB5757;
}

.form__checkbox-alignment {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form__checkbox-alignment {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form__true-checkbox {
  position: absolute; 
  opacity: 0;
}

.form__fake-checkbox {
  position: relative;
  display: flex;
  width: 24px;
  height: 24px;
  background-image: url(../../images/checkbox-cirlce.svg);
  background-position: center;
  background-size: cover;
}

.form__fake-checkbox::before {
  position: absolute;
  display: flex;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../../images/checkbox-cross.svg);
  background-position: center;
  background-size: cover;
  opacity: 0;
}

.form__true-checkbox:checked + 
.form__fake-checkbox::before {
  opacity: 1;
}

.form__checkbox-description {
  margin-left: 24px;
  font-size: 14px;
  line-height: 1.2;
  color: #0F0F0F;
}

.form__button {
  width: 220px;
  height: 48px;
  margin-top: 65px;
  border-radius: 33px;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.2;
  color: #0F0F0F;
}

.form__button:hover {
  cursor: pointer;
}

.form__button_signin {
  margin-left: auto;
  margin-right: 84px;
  background-color: #FAFAFA;
  border: 1px solid #0F0F0F;
  color: #0F0F0F;
}

.form__button_submit {
  background-color: #0F0F0F;
  border: none;
  color: #FAFAFA;
}

.form__button_recovery {
  margin-top: 48px;
}

.form__forgot-password {
  margin-top: 104px;
  margin-right: auto;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: underline;
  color: #0F0F0F;
}

.form__forgot-password:hover {
  cursor: pointer;
}

.form__recovery-text {
  margin-top: 48px;
  font-size: 14px;
  line-height: 1.2;
  color: #0F0F0F;
}

@media screen and (max-width: 1900px) {
  .form__heading {
    font-size: 48px;
  }
}



/* COOKIES */
.cookies {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 508px;
  display: flex;
  flex-direction: column;
  background-color: #0F0F0F;
}

.cookies__text {
  margin-top: 68px;
  margin-left: 5vw;
  margin-right: 6vw;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #FAFAFA;
}

.cookies__close-button {
  width: 48px;
  height: 48px;
  margin-top: auto;
  margin-bottom: 112px;
  align-self: center;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(../../images/cookies-close-button.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cookies__close-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1900px) {
  .cookies {
    height: 380px;
  }

  .cookies__text {
    font-size: 14px;
  }
}